/*      game page       */

/*backgrounds*/

.background_player_info{
    background-color: white;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

/*texts*/

.player_info_text{
    font-size: 16px;
    font-weight: 500;
}

/*buttons*/

.button_normal{
    background-image: none;
    background-color: white;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}
.button_normal:hover{
    color: white;
    background-color: #5b8b24;
}

.button_with_warning{
    background-image: none;
    background-color: white;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}
.button_with_warning:hover{
    color: white;
    background-color: #c22708;
}

.button_win{
    background-image: none;
    background-color: white;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}
.button_win:hover{
    color: white;
    background-color: #017cc2;
}
/*      menu page       */

/*buttons*/

.button_menu{
    background-image: none;
    background-color: #73b32a;
    border-radius: 50px;
    border-color: white;
    border-width: 2px;
    font-weight: 500;
    font-size: 16px;
    color:white;
}

.button_menu:hover{
    background-color: #5b8b24;
}


/*      player page        */

/*backgrounds*/

.background_box{
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3)
}

.user_icon{
    border-radius: 80px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

/*texts*/

.font_player{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.label_player{
    border-radius: 50px;
    font-size: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.font_title_label{
    font-size: 15px;
}

.font_title_switch{
    font-size: 15px;
    font-weight: 500;
}

/*buttons*/

.start_button{
    background-image: none;
    background: linear-gradient(45deg, rgba(115,179,42,1) 0%, rgba(31,108,3,1) 100%);
    font-size: 18px;
    font-weight: 600;
    color: black;
    
    border: 2px solid black;
    border-radius: 100%;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5)

}

.start_button:hover{
    color: white;
    border: 2px solid white;
    background: linear-gradient(145deg, rgba(115,179,42,1) 0%, rgba(3,202,226,1) 100%);
}

/*switchs*/

.switch_player{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color:#ff6554;
    border-color: black;
}

.switch_player:checked{
    background-color: #5d9c43;
}


/*      dialog's        */

/*text*/

.dg_name_label{
    font-weight: 500;
}

/*buttons*/

.buy_card{
    background-image: none;
    background-color: white;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}
.buy_card:hover{
    color: white;
    background-color: #5b8b24;
}

.trash_card{
    background-image: none;
    background-color: white;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}
.trash_card:hover{
    color: white;
    background-color: #c22708;
}